BASEPORT_TAG=latest
BASEPORT_PORT=5000
# BASEPORT_ADMIN_ADDRESS=127.0.0.1:5264
# BASEPORT_TRUST_FORWARDED_HEADERS=false
# BASEPORT_CONNECTION_STRING=Data Source=/data/baseport.db
# BASEPORT_ALLOW_INSECURE_SIGNIN=false
# BASEPORT_ALLOW_REMOTE_PROVIDERS=false
# BASEPORT_MAX_CONNECTIONS=1000
